In [35]:
print("hello icam")

hello icam

In [1]:
import pandas as pd

In [40]:
df = pd.read_csv('declarations.csv',on_bad_lines='skip',sep=';', nrows=10000)  # Charge 10 000 premières lignes
print(df.head())

         id                                              token  entreprise_id  \
0  14111744  $xyzdjfqFNFcc14111744rwvuygmv[C]rwvuygmvxZui14...           2224
1  14111758  $xyzdjfqFNFcc14111758rwvuygmv[C]rwvuygmvxZui14...           2224
2  14111753  $xyzdjfqFNFcc14111753rwvuygmv[C]rwvuygmvxZui14...           2224
3  14111791  $xyzdjfqFNFcc14111791rwvuygmv[C]rwvuygmvxZui14...           2224
4  14111757  $xyzdjfqFNFcc14111757rwvuygmv[C]rwvuygmvxZui14...           2224

  lien_interet                                 identifiant_unique  \
0     avantage                  RPN-2018-02561_PS-0737824_1474229
1     avantage  RPN-2018-02640_PS-0795152_1422960_1422973_1422986
2     avantage  RPN-2018-02640_PS-0978710_1422961_1422974_1422987
3     avantage                   RPC-2018-0391_PS-0726316_1468966
4     avantage  RPN-2018-02640_PS-0090417_1422952_1422965_1422978

            convention_liee motif_lien_interet_code motif_lien_interet  \
0                       NaN                   AUTRE              Autre
1                       NaN                   AUTRE              Autre
2                       NaN                   AUTRE              Autre
3  RPC-2018-0391_PS-0726316                   AUTRE              Autre
4                       NaN                   AUTRE              Autre

  autre_motif information_evenement  ...  com_code                  epci_name  \
0       Repas                   NaN  ...     33063         Bordeaux Métropole
1       Repas                   NaN  ...     54547   Métropole du Grand Nancy
2       Repas                   NaN  ...     88160                CA d'Épinal
3       Repas                   NaN  ...     76540  Métropole Rouen Normandie
4       Repas                   NaN  ...     54547   Métropole du Grand Nancy

     epci_code dep_code            dep_name reg_code            reg_name  \
0  243300316.0     33.0             Gironde     75.0  Nouvelle-Aquitaine
1  245400676.0     54.0  Meurthe-et-Moselle     44.0           Grand Est
2  200068757.0     88.0              Vosges     44.0           Grand Est
3  200023414.0     76.0      Seine-Maritime     28.0           Normandie
4  245400676.0     54.0  Meurthe-et-Moselle     44.0           Grand Est

        beneficiaire_nom_prenom_com_name semestre_annee beneficiaire_nom_pays
0          SAGHI  TAHAR - BORDEAUX CEDEX        2018-01                FRANCE
1   D AVENI  MAUD - VANDOEUVRE LES NANCY        2018-01                FRANCE
2        MOULIN  CHARLINE - EPINAL CEDEX        2018-01                FRANCE
3           RIGAL  OLIVIER - ROUEN CEDEX        2018-01                FRANCE
4  DETRAIT  MARIE - VANDOEUVRE LES NANCY        2018-01                FRANCE

[5 rows x 55 columns]

In [41]:
df.shape

(10000, 55)

In [53]:
print(df.columns.sort_values())

Index(['adresse', 'autre_motif', 'beneficiaire_categorie',
       'beneficiaire_categorie_code', 'beneficiaire_identifiant',
       'beneficiaire_nom_pays', 'beneficiaire_nom_prenom_com_name',
       'beneficiaire_profession_code', 'beneficiaire_type',
       'beneficiaire_type_code', 'code_postal', 'code_postal_entreprise',
       'com_code', 'com_name', 'convention_liee', 'date', 'date_debut',
       'date_fin', 'date_publication', 'date_transmission',
       'demande_de_rectification', 'dep_code', 'dep_name', 'entr_dep_name',
       'entr_reg_name', 'entr_ville', 'entreprise_id', 'entreprise_nom_pays',
       'epci_code', 'epci_name', 'geom', 'id', 'id_beneficiaire',
       'identifiant_unique', 'identite', 'information_evenement',
       'lien_interet', 'mere_id', 'montant', 'motif_lien_interet',
       'motif_lien_interet_code', 'numero_siren', 'pays_code', 'prenom',
       'profession_libelle', 'raison_sociale', 'reg_code', 'reg_name',
       'secteur_activite', 'semestre_annee', 'statut', 'structure_exercice',
       'token', 'ville', 'ville_sanscedex'],
      dtype='object')

In [60]:
df_col_triees = df[df.columns.sort_values()]
df_col_triees.to_csv('declarations_col_triees.csv', sep=';', index=False)

In [44]:
# suppression des doublons
df = df.drop_duplicates()

In [61]:
for col in df.columns.sort_values():
    nb_unique = len(df[col].unique())
    if nb_unique < 20:
        print(col, len(df[col].unique()), df[col].unique())

beneficiaire_categorie 12 ['Professionnel de santé' 'Association de professionnels de santé'
 'Personne morale assurant la formation initiale ou continue des professionnels de santé'
 'Presse et média' "Association d'usagers du système de santé"
 'Académie, fondation, société savante, organisme de conseils' 'Etudiant'
 'Vétérinaire' 'Etablissement de santé' 'Editeur de logiciel'
 'Vétérinaire Personne Morale' 'Groupement professionnel agricole']
beneficiaire_categorie_code 12 ['PRS' 'APS' 'PMO' 'PRE' 'AUS' 'FON' 'ETU' 'VET' 'ETA' 'LOG' 'VPM' 'AGR']
beneficiaire_nom_pays 11 ['FRANCE' nan 'RÉUNION' 'MARTINIQUE' 'GUYANE FRANÇAISE' 'GUAM'
 'GUADELOUPE' 'MONACO' 'NOUVELLE-CALÉDONIE' 'BELGIQUE'
 'POLYNÉSIE FRANÇAISE']
beneficiaire_type 5 ['RPPS/ADELI' 'AUTRE' 'ORDRE' 'FINESS' 'SIREN']
beneficiaire_type_code 5 ['RPPS/ADELI' 'AUTRE' 'ORDRE' 'FINESS' 'SIREN']
demande_de_rectification 1 [False]
entr_reg_name 14 ['Île-de-France' 'Saint-Barthélemy' 'Hauts-de-France' 'Occitanie'
 'Normandie' nan 'Grand Est' 'Auvergne-Rhône-Alpes'
 "Provence-Alpes-Côte d'Azur" 'Nouvelle-Aquitaine'
 'Bourgogne-Franche-Comté' 'Pays de la Loire' 'Centre-Val de Loire'
 'Bretagne']
entreprise_nom_pays 12 ['FRANCE' 'ROYAUME-UNI' 'PAYS-BAS' 'SUISSE' 'ÉTATS-UNIS' 'BELGIQUE'
 'FINLANDE' 'MONACO' 'RÉUNION' 'GUADELOUPE' 'IRLANDE' 'ALLEMAGNE']
lien_interet 3 ['avantage' 'remuneration' 'convention']
pays_code 11 ['FR' nan 'RE' 'MQ' 'GF' 'GU' 'GP' 'MC' 'NC' 'BE' 'PF']
secteur_activite 7 ['Médicaments humains' 'Prestataires associés' 'Dispositifs médicaux'
 'Médicament vétérinaire' 'Autres'
 'Dispositifs médicaux de diagnostic in vitro' 'Produits cosmétiques']
semestre_annee 18 ['2018-01' '2017-07' '2017-01' '2016-07' '2012-01' '2012-07' '2011-07'
 '2011-01' '2016-01' '2014-07' '2015-01' '2015-07' '2013-01' '2013-07'
 '2018-07' '2019-01' '2014-01' '2020-01']
statut 1 ['Publié']

In [48]:
# export du fichier csv sans doublons
df.to_csv('declarations_sans_doublons.csv', sep=';', index=False)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 55 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                10000 non-null  int64
 1   token                             10000 non-null  object
 2   entreprise_id                     10000 non-null  int64
 3   lien_interet                      10000 non-null  object
 4   identifiant_unique                10000 non-null  object
 5   convention_liee                   1756 non-null   object
 6   motif_lien_interet_code           9716 non-null   object
 7   motif_lien_interet                9716 non-null   object
 8   autre_motif                       4605 non-null   object
 9   information_evenement             5324 non-null   object
 10  montant                           5813 non-null   float64
 11  date                              10000 non-null  object
 12  date_debut                        5324 non-null   object
 13  date_fin                          4495 non-null   object
 14  id_beneficiaire                   10000 non-null  int64
 15  identite                          10000 non-null  object
 16  prenom                            9598 non-null   object
 17  beneficiaire_categorie_code       10000 non-null  object
 18  beneficiaire_categorie            10000 non-null  object
 19  beneficiaire_type_code            10000 non-null  object
 20  beneficiaire_type                 10000 non-null  object
 21  beneficiaire_identifiant          7459 non-null   object
 22  beneficiaire_profession_code      8152 non-null   float64
 23  profession_libelle                8152 non-null   object
 24  structure_exercice                798 non-null    object
 25  pays_code                         9280 non-null   object
 26  adresse                           9234 non-null   object
 27  code_postal                       9881 non-null   float64
 28  ville                             10000 non-null  object
 29  demande_de_rectification          10000 non-null  bool
 30  statut                            10000 non-null  object
 31  date_publication                  10000 non-null  object
 32  date_transmission                 10000 non-null  object
 33  raison_sociale                    10000 non-null  object
 34  secteur_activite                  10000 non-null  object
 35  entr_ville                        10000 non-null  object
 36  entr_dep_name                     9812 non-null   object
 37  entr_reg_name                     9812 non-null   object
 38  entreprise_nom_pays               10000 non-null  object
 39  mere_id                           608 non-null    float64
 40  code_postal_entreprise            10000 non-null  object
 41  numero_siren                      9745 non-null   object
 42  ville_sanscedex                   10000 non-null  object
 43  geom                              9537 non-null   object
 44  com_name                          9536 non-null   object
 45  com_code                          9536 non-null   object
 46  epci_name                         9535 non-null   object
 47  epci_code                         9535 non-null   float64
 48  dep_code                          9881 non-null   float64
 49  dep_name                          9842 non-null   object
 50  reg_code                          9842 non-null   float64
 51  reg_name                          9842 non-null   object
 52  beneficiaire_nom_prenom_com_name  10000 non-null  object
 53  semestre_annee                    10000 non-null  object
 54  beneficiaire_nom_pays             9280 non-null   object
dtypes: bool(1), float64(7), int64(3), object(44)
memory usage: 4.1+ MB

In [55]:
df.describe()

,id,entreprise_id,montant,id_beneficiaire,beneficiaire_profession_code,code_postal,mere_id,epci_code,dep_code,reg_code
count,1.000000e+04,10000.000000,5813.000000,10000.000000,8152.000000,9881.000000,608.000000,9.535000e+03,9881.000000,9842.000000
mean,1.366910e+07,660.768500,741.551522,422600.403000,19.074828,55403.907803,984.286184,2.165775e+08,82.111628,49.479273
std,9.583513e+05,905.462024,12916.888945,253003.555823,21.499357,28350.749412,1285.096576,2.179005e+07,161.224773,45.743430
min,8.913490e+06,26.000000,0.000000,129.000000,1.000000,0.000000,32.000000,2.000002e+08,0.000000,1.000000
25%,1.374487e+07,89.000000,21.000000,146782.750000,10.000000,33076.000000,256.000000,2.000548e+08,33.000000,27.000000
50%,1.403895e+07,212.000000,40.000000,528251.000000,10.000000,59460.000000,314.000000,2.000690e+08,59.000000,44.000000
75%,1.412167e+07,658.000000,70.000000,635939.750000,10.000000,76100.000000,929.000000,2.434000e+08,76.000000,76.000000
max,1.415637e+07,3183.000000,901670.000000,761408.000000,99.000000,740370.000000,3789.000000,2.497401e+08,988.000000,988.000000

In [56]:
for col in df.columns:
    print(f"Colonne {col} : {df[col].dtype}")
    print("\n")

Colonne id : int64


Colonne token : object


Colonne entreprise_id : int64


Colonne lien_interet : object


Colonne identifiant_unique : object


Colonne convention_liee : object


Colonne motif_lien_interet_code : object


Colonne motif_lien_interet : object


Colonne autre_motif : object


Colonne information_evenement : object


Colonne montant : float64


Colonne date : object


Colonne date_debut : object


Colonne date_fin : object


Colonne id_beneficiaire : int64


Colonne identite : object


Colonne prenom : object


Colonne beneficiaire_categorie_code : object


Colonne beneficiaire_categorie : object


Colonne beneficiaire_type_code : object


Colonne beneficiaire_type : object


Colonne beneficiaire_identifiant : object


Colonne beneficiaire_profession_code : float64


Colonne profession_libelle : object


Colonne structure_exercice : object


Colonne pays_code : object


Colonne adresse : object


Colonne code_postal : float64


Colonne ville : object


Colonne demande_de_rectification : bool


Colonne statut : object


Colonne date_publication : object


Colonne date_transmission : object


Colonne raison_sociale : object


Colonne secteur_activite : object


Colonne entr_ville : object


Colonne entr_dep_name : object


Colonne entr_reg_name : object


Colonne entreprise_nom_pays : object


Colonne mere_id : float64


Colonne code_postal_entreprise : object


Colonne numero_siren : object


Colonne ville_sanscedex : object


Colonne geom : object


Colonne com_name : object


Colonne com_code : object


Colonne epci_name : object


Colonne epci_code : float64


Colonne dep_code : float64


Colonne dep_name : object


Colonne reg_code : float64


Colonne reg_name : object


Colonne beneficiaire_nom_prenom_com_name : object


Colonne semestre_annee : object


Colonne beneficiaire_nom_pays : object

In [58]:
with open("analyse.txt","w") as fichier:
    for col in df.columns:
        type_col = df[col].dtype
        
        fichier.write(f"Type de la colonne {col} : {type_col} :\n")